.content {
    margin: 2rem 3rem;
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

.kontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
}

.kolom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--red);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.card a {
    background: var(--darkred);
}

.card a:hover {
    transform: translateY(-4px);
}

.card img {
    border-radius: 10px;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

input {
    height: 32px;
}

textarea, input {
    border-radius: 6px;
    border: 2px solid var(--red)
}